## variable

## Bagian1

varibel dalam python adalah ------ yang terdiri dari beberap value, int, string, dan lainnya

In [ ]:
athooo = 35
anthoo2 = str(athooo)
print(type(athooo))
print(anthoo2)

In [1]:
umur = 3
nilai = 3.5
nama = "Anthooo"
hadir = True
listt = [1231, "asda", True]
tuplee = ()
kosong = None

mencetak type dari variable

In [3]:
print(type(nilai))

<class 'float'>

In [7]:
nilai2 = str(umur)

In [8]:
print(nama, nilai)

Anthooo 3.5

In [9]:
print(type(nilai2))

<class 'bool'>

In [ ]:
nama2 = int(nama)

In [ ]:
print(nama2)

## Bagian 2, operasional

In [36]:
number1 = 17
number2 = 5

In [37]:
result = number1 * number2
print(result)

85

In [44]:
if number1 != number2:    # ==, <=, >=, !=
    print("yayayayay")
else:
    print("nononnonono")

yayayayay

In [74]:
name = "Python"
iss = " adalah "
snake = "ular"
final = name + iss + snake
nimnama = "12345678 anttho eidio"
print(final)

Python adalah ular

In [69]:
print(name[5])

n

In [79]:
print(nimnama[:9])
print(nimnama[9:])

12345678
anttho eidio

In [94]:
umur = 3
nilai = 3.5
nama = "thoooo"
hadir = False
kosong = None

In [95]:
list1 = [nama, 20, 30, 40, 50]

In [96]:
print(type(list1))

<class 'list'>

In [98]:
print(list1[0][0:4])

thoo

In [ ]:
nama = "blas "

In [100]:
print(list1*5)

['thoooo', 20, 30, 40, 50, 'thoooo', 20, 30, 40, 50, 'thoooo', 20, 30, 40, 50, 'thoooo', 20, 30, 40, 50, 'thoooo', 20, 30, 40, 50]

In [99]:
print(len(list1))

5

In [101]:
list1 = [45, 20, 10, 40, 50, 100]

In [102]:
list1.append(90)

In [103]:
print(list1)

[45, 20, 10, 40, 50, 100, 90]

In [104]:
list1.insert(5, 30)

In [105]:
print(list1)

[45, 20, 10, 40, 50, 30, 100, 90]

In [106]:
list1.remove(30)

In [107]:
print(list1)

[45, 20, 10, 40, 50, 100, 90]

In [108]:
list1.sort()
print(list1)

[10, 20, 40, 45, 50, 90, 100]

In [110]:
mean = sum(list1)/len(list1)
print("so, the total mean is =", round(mean, 2), " value")

so, the total mean is = 50.71  value

In [ ]:
print(type(mean))

# Tugas mandiri

In [113]:
data_mahasiswa = {
    "Nama": "lala lulu",
    "semester": "3",
    "ipk": 3.2,
    "year": 2024,
    "status": "aktif"
}

In [117]:
print(data_mahasiswa["ipk"])

3.2